@charset "UTF-8";

body{
	width: 600px;
}
h1{
	justify-content: center;
	text-align: center;
}
.data-list {
	justify-content:space-evenly;
	display: flex;
	height: 30px;	
}

.data-list > div{
	width : 80px;
}

#add-student{
	justify-content: center;
	text-align: center;
}